version: '3'
services:
  remix-watch:
    container_name: remix-watch
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: watch-dev
    volumes:
      - ./frontend/app:/app/app
      - ./frontend/public:/app/public
      - ./frontend/server:/app/server
      - ./frontend/build:/app/build
    tty: true
  remix-server:
    container_name: remix-server 
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev-node-server
    environment:
      - NODE_ENV=development
    volumes:
      - ./frontend/server/index.js:/app/index.js
      - ./frontend/build:/app/build
      - ./frontend/node_modules:/app/node_modules
    ports:
      - "8081:8081"
    depends_on:
      - remix-watch
  remix-public:
    container_name: remix-public
    image: nginx:latest
    restart: always
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ./docker_env/remix-public/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker_env/remix-public/logs:/var/log/nginx
      - ./frontend/public:/etc/nginx/public
    ports:
      - "8082:80"
    depends_on:
      - remix-watch
  nginx-proxy:
    container_name: nginx-proxy
    image: nginx:latest
    restart: always
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ./docker_env/nginx-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker_env/nginx-proxy/logs:/var/log/nginx
    ports:
      - "8080:80"
      - "8002:8002"
    depends_on:
      - remix-server
      - remix-public
      - remix-watch

